[Unit]
Description=Praxis Bot

[Service]
ExecStart=/var/www/services/praxis/bot.js
Restart=always
User=nogroup
# Note RHEL/Fedora uses 'nobody', Debian/Ubuntu uses 'nogroup'
Group=nobody  
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/var/www/services/praxis

[Install]
WantedBy=multi-user.target
